{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
  <h2>Affectations des employés</h2>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Employé</th>
        <th>Agence</th>
        <th>Date début</th>
        <th>Date fin</th>
        <th>Commentaire</th>
      </tr>
    </thead>
    <tbody>
      {% for a in affectations %}
      <tr>
        <td>{{ a.employe }}</td>
        <td>{{ a.agence }}</td>
        <td>{{ a.date_debut }}</td>
        <td>{{ a.date_fin|default:'-' }}</td>
        <td>{{ a.commentaire }}</td>
      </tr>
      {% empty %}
      <tr><td colspan="5">Aucune affectation enregistrée.</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
