{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
  <h2>Horaires de travail standards</h2>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Description</th>
        <th>Heure début</th>
        <th>Heure fin</th>
        <th>Jours</th>
      </tr>
    </thead>
    <tbody>
      {% for h in horaires %}
      <tr>
        <td>{{ h.nom }}</td>
        <td>{{ h.description }}</td>
        <td>{{ h.heure_debut }}</td>
        <td>{{ h.heure_fin }}</td>
        <td>{{ h.jours_semaine }}</td>
      </tr>
      {% empty %}
      <tr><td colspan="5">Aucun horaire standard défini.</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
